

body {
    margin: 50px;
    padding: 50px;
}

.Yo {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center; 
}

.bp {
    padding: 30px 75px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(./1-pierre.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bf {
    padding: 30px 75px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(./2-feuille.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bc {
    padding: 30px 75px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(./3-ciseaux.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
h1 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}


